body {
  font-family: sans-serif;
  margin: 0;
  background-color: #e4e4e4;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cardImage{
  background-size: contain;
  background-blend-mode: multiply;
  background-color: #f3f2e8;  
  min-height: 250px;
  max-height: 250px;
  min-width: 250px;
  padding: 0;
  transition: 150ms ease;
}

#hero{
  background-image: url("https://www.14ers.com/photos/mtantero/peakphotos/large/201205_Ant01.jpg");
  background-position: wrap;
  background-size: cover;
  background-color: rgba(114, 114, 114, 0.596);
  background-blend-mode: multiply;
  min-height: 300px;
  max-height: 1000px;
  width: 100%;
}


#landing{
  background: transparent;
  /* background-position: wrap;
  background-size: cover;
  background-color: rgba(114, 114, 114, 0.596);
  background-blend-mode: multiply;
  min-height: 300px;
  max-height: 1000px;
  width: 100%; */
}

#landing-body{
  background-image: url("https://images.pexels.com/photos/2421436/pexels-photo-2421436.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  background-color: grey;
  background-blend-mode: multiply;
  height: 100vh;

}

#hero h1{
  padding-top: 7em;
  color:rgb(255, 254, 233);
  text-align: center;
  margin: 0;
}

.cardHeading{
  font-weight: 800 !important;
  text-align: center;
  font-size: .9em !important;
}

.cardImageContainer{
  padding: 0 !important;
  min-height: 250px;
  border-radius: 5px;
}

.paperContainer{
  padding: 1em;
}

.pageHeader{
  text-align: center;
  padding-top: 1em;
}

/* img{
  max-height: 150px;
} */

.transparent{
  background: transparent;
  color: #fffef7
}

#nav{
  background-color: transparent;
  transition: 75ms ease-in;
  color: #f5f3e4;
  /* color: #444742; */
  padding: 1em 0 1em 0;
}

.active, .active > *{
  /* background-color: #173836; */
  background-color: #fefff6;
  color:rgb(49, 49, 48) !important;
  transition: 75ms ease-out;
}
#nav:hover {
  /* background-color: #173836; */
  background-color: #fefff6;
  color:rgb(49, 49, 48) !important;
  transition: 75ms ease-out;
}
/* #nav.active{
  
  background-color: #fefff6;
  color:rgb(49, 49, 48);
  transition: 75ms ease-out;
} */

/* #nav{
  background-color: #fefff6;
  color:rgb(49, 49, 48);
  transition: 75ms ease-out;
} */

#main-heading, #shop-heading{
  font-family: 'Vollkorn', serif;
  cursor: pointer;
}

#shop-heading{
  font-size: 1.1em;
  /* font-family: Helvetica, Arial, sans-serif !important;
  font-family: 'Vollkorn', serif !important;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1;
  margin-top: .1em; */

}

#popOverTest{
  width: 100vw;
  margin-left: calc(-50vw + 49%) !important;
  color: white;
  padding: 1em;
  background-color: #60706C;
}

.menuText{
  font-family: 'Vollkorn', serif !important;
  font-weight: 300;
}

.cardContainer:hover .cta{
  background-color:rgb(254, 255, 247) !important;
  color:rgb(49, 49, 48) !important;
}

.cardContainer:hover .cta-alt{
  background-color:rgb(254, 255, 247);
  color:rgb(49, 49, 48) !important;
}

.cardContainer:hover .cardImage{
  background-color: #d4d3c8;  
}

.cta{
  margin-top: 6em !important;
}

.priceText{
  text-align: center;
}

.tag{
  font-size: 1em !important;
}

#productDetail{
  background-color:#e4e4e4;
  text-align: center;
}

.productImage{    
  width: 100%;
  max-width: 750px;
}

.counterButton {
  background-color: gainsboro;
  border: none;
  color: gray;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  border-radius: 8px;
}

.counter {
  display: flex;
}

label.MuiInputLabel-root{
  padding: 18px 15px 15px 24px;
}

#submitAuth{
  /* width: 25%; */
  margin: 1em;
  background-color: #1C2541;
  color: #fdfdf2;
}

#submitAuth:focus, #submitAuth:hover{
  background-color: #076B50;
}

#homeButton{
  /* width: 25%; */
  margin-right: .5em;
  background-color: #1C2541;
  color: #fdfdf2;
}

#homeButton:focus, #homeButton:hover{
  background-color: #076B50;
}

#authIcon{
  color: #66676b;
  transition: 250ms ease;
  margin-right: -.2em;
}
#authIcon2{
  color: #66676b;
  transition: 400ms ease;
  margin-left: -.2em;
}

#submitAuth:hover #authIcon{
  color: #fdfdf2;
  transform: translate(3px, 0);
  transition: 150ms ease-out;
}

#submitAuth:hover #authIcon2{
  color: #fdfdf2;
  transform: translate(3px, 0);
  transition: 250ms ease-out;
}

#iconGroup{
  margin: 0;
  padding-top: 6px;
}

#cartContainer{
  padding: 1em;
  margin: 1em;
}

.cartItemLink{
  text-decoration:underline;
}

#productPriceHeading{
  font-size: 1.1em;
  font-weight: 800;
}

.productPriceText{
  font-size: .9em;
}

#productId{
  font-size: .9em;
  font-weight: 800;
}

.menuListItem {
  font-weight: 100 !important;
}

.menuHeading{
  margin-top: .2em;
  margin-bottom: 0;
}

.cartItemPic {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  width: 85%;
}

.productQuantitySelector{
  margin-left: 1em;
  width: 100%;
}
.productQuantitySelector select{
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; 
}

.cartCheckout, .cartCheckout > div {
  text-align: center;
}

.cartCheckout {
  margin-right: 1em;
}

#search{
  border: 0px;
}

label.MuiInputLabel-root{
  padding: 0;
}

.cartHeading2{
  font-size: 1.5em;
}

#checkoutContainer{
  padding: 2em;
}

.searchIcon{
  color: white;
}

.homeInfo{
  margin-top: 5em;
  color: white;
  font-size: 2em;
  text-align: center;
}